<ul class="nav nav-tabs" style="margin: 30px 0;">
  <li class="{% if app.request.attributes.get("_route") == 'transaction'%}active{% endif %}">
    <a href="{{ path('transaction') }}">Transactions</a>
  </li>
  <li class="{% if app.request.attributes.get("_route") == 'admin_product'%}active{% endif %}">
    <a href="{{ path('admin_product') }}">Products</a>
  </li>
  <li class="{% if app.request.attributes.get("_route") == 'feature'%}active{% endif %}">
    <a href="{{ path('feature') }}">Features</a>
  </li>
</ul>
